@tailwind base;
@tailwind components;
@tailwind utilities;

.back {
    background-image: url("https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}